<div class="container">
  <h1>Stupid Coaching</h1>
  <div class="question">
    <p><%= @question %></p>
    <p><i>-You</i></p>
  </div>

  <div class="answer">
    <p><strong><%= @answer %></strong></p>
    <p><i>-Your coach</i></p>
  </div>

  <div>
    <a href="/ask" id="new-question">Ask a new question</a>
  </div>
</div>
